/* Type + Spacing */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1280px;
height: 474px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Typography Scale */

width: 828px;
height: 474px;

background: #FFFFFF;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* type-inner */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 764px;
height: 410px;
left: 32px;
top: 32px;



/* Type Scale — DM Sans */

width: 764px;
height: 29px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 29px;
/* identical to box height */

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

width: 764px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Display / 34 · 800 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 64px;

background: #FBFAF6;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Display / 34 · 800 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Care starts here */

width: 560px;
height: 44px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 44px;

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* H1 / 28 · 800 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 56px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* H1 / 28 · 800 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Dashboard */

width: 560px;
height: 36px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 36px;

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* H2 / 22 · 700 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 49px;

background: #FBFAF6;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* H2 / 22 · 700 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Medications Today */

width: 560px;
height: 29px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 29px;
/* identical to box height */

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* H3 / 18 · 700 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 43px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* H3 / 18 · 700 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Next dose: 8 AM */

width: 560px;
height: 23px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Body / 16 · 400 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 41px;

background: #FBFAF6;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Body / 16 · 400 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Take with water in the morning. */

width: 560px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Small / 14 · 500 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 38px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* Small / 14 · 500 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Due in 45 minutes */

width: 560px;
height: 18px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label / 12 · 700 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 36px;

background: #FBFAF6;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Label / 12 · 700 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* MEDICATIONS */

width: 560px;
height: 16px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Micro / 11 · 700 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 16px;

width: 780px;
height: 34px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* Micro / 11 · 700 */

width: 180px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DUE SOON */

width: 560px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Spacing + Radius */

width: 428px;
height: 365px;

background: #FFFFFF;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-inner */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 364px;
height: 301px;
left: 32px;
top: 32px;



/* Spacing — 8pt Grid */

width: 364px;
height: 29px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 29px;
/* identical to box height */

color: #2C2C2A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* spacing bars */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 12px;

width: 324px;
height: 116px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-8 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bar */

width: 36px;
height: 12px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 8 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-16 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bar */

width: 36px;
height: 24px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 16 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-24 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* bar */

width: 36px;
height: 36px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 24 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-32 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* bar */

width: 36px;
height: 48px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 32 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-40 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* bar */

width: 36px;
height: 60px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 40 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-48 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* bar */

width: 36px;
height: 72px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 48 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* sp-64 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 6px;

width: 36px;
height: 116px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* bar */

width: 36px;
height: 96px;

background: #5DCAA5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 64 */

width: 36px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #04342C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* BORDER RADIUS */

width: 364px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;
letter-spacing: 1.1px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* radius row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 368px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* sm / 8px */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 80px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* corner */

box-sizing: border-box;

width: 64px;
height: 48px;

background: #E1F5EE;
border: 2px solid #5DCAA5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sm / 8px */

width: 80px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* md / 12px */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 80px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* corner */

box-sizing: border-box;

width: 64px;
height: 48px;

background: #E1F5EE;
border: 2px solid #5DCAA5;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* md / 12px */

width: 80px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* lg / 16px */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 80px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* corner */

box-sizing: border-box;

width: 64px;
height: 48px;

background: #E1F5EE;
border: 2px solid #5DCAA5;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lg / 16px */

width: 80px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* xl / 20px */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 80px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* corner */

box-sizing: border-box;

width: 64px;
height: 48px;

background: #E1F5EE;
border: 2px solid #5DCAA5;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* xl / 20px */

width: 80px;
height: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #888780;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
